{{#each filters as |filter| }}

  <div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src={{filter.url}} class="img-fluid rounded-start" alt="recipe image">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><a href="/recipe/{{filter.id}}">{{filter.recipe_name}}</a></h5>
        <p class="card-text">{{filter.description}}</p>
        <p class="card-text"><small class="text-muted">Created by {{filter.user.user_name}}</small></p>
      </div>
    </div>
  </div>
</div>
</div>{{/each}}

