            <a
              href="#"
              class="nav-link filter-modal"
              data-toggle="modal"
              data-target=".bd-example-modal-lg"
            >Filter Results</a>

            <div
              class="modal fade bd-example-modal-lg filter-modal"
              tabindex="-1"
              role="dialog"
              aria-labelledby="myLargeModalLabel"
              aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                        <div class="form-group">
        <fieldset class="large-5 cell filter-category">
          <legend>What category:</legend>
          <input
            type="checkbox"
            name="filter"
            value="1"
            class= "filtered"
          /><label for="americanfood">Breakfast</label>
          <input
            type="checkbox"
            name="filter"
            value="2"
            class= "filtered"
          /><label for="asianfood">Lunch</label>
          <input
            type="checkbox"
            name="filter"
            value="3"
            class= "filtered"
          /><label for="eufood">Dinner</label>
            <button class="btn btn-primary filterBtn">Find</button>
        </fieldset>
      </div>

                </div>
              </div>
            </div>

<!-- Loop over each object in the projects array -->
{{#each tables as |table| }}

  <div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src={{table.url}} class="img-fluid rounded-start" alt="recipe image">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><a href="/recipe/{{table.id}}">{{table.recipe_name}}</a></h5>
        <p class="card-text">{{table.description}}</p>
        <p class="card-text"><small class="text-muted">Created by {{table.user.user_name}}</small></p>
      </div>
    </div>
  </div>
</div>
{{/each}}


