<!-- Loop over each object in the projects array -->
{{#each tables as |table| }}
{{!-- <div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <a href="/recipe/{{table.id}}">{{table.recipe_name}}</a>
    </h2>
    <p>Created by {{table.user.user_name}}</p>
  </div>
  <div class="col-md-7">
    <img src={{table.url}} alt="recipe image"> --}}
    {{!-- <p>
      {{table.description}}
    </p>
    <p>
      {{table.ingredients}}
    </p>
        <p>
      {{table.directions}}
    </p> --}}
  {{!-- </div>
</div> --}}
<div class="media-object stack-for-small">
  <div class="media-object-section">
    <div class="thumbnail">
      <img src= {{table.url}} alt="recipe image" style="width:auto;height:150px;">
    </div>
  </div>
  <div class="media-object-section">
    <h4><a href="/recipe/{{table.id}}">{{table.recipe_name}}</a></h4>
    <p>{{table.description}}</p>
        <p>Created by {{table.user.user_name}}</p>
  </div>
</div>{{/each}}
