<!-- Loop over each object in the projects array -->
{{#each tables as |table| }}
{{!-- <div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <a href="/recipe/{{table.id}}">{{table.recipe_name}}</a>
    </h2>
    <p>Created by {{table.user.user_name}}</p>
  </div>
  <div class="col-md-7">
    <img src={{table.url}} alt="recipe image"> --}}
    {{!-- <p>
      {{table.description}}
    </p>
    <p>
      {{table.ingredients}}
    </p>
        <p>
      {{table.directions}}
    </p> --}}
  {{!-- </div>
</div> --}}


  <div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src={{table.url}} class="img-fluid rounded-start" alt="recipe image">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><a href="/recipe/{{table.id}}">{{table.recipe_name}}</a></h5>
        <p class="card-text">{{table.description}}</p>
        <p class="card-text"><small class="text-muted">Created by {{table.user.user_name}}</small></p>
      </div>
    </div>
  </div>
</div>
</div>{{/each}}
