{{!-- <div class="text-center">
        <img src= {{url}} alt="recipe image" style="width:auto;height:300px;">
  <h2>{{recipe_name}}</h2>
  <p>{{description}}</p>
<p>{{ingredients}}</p>
<p>{{directions}}</p>

  <p>Uploaded by {{user.user_name}}</p>
</div>
  <p>Created by {{user.user_name}}</p>
</div> --}}


<div class="card mx-auto"style="width: 40rem;">
  <img class="card-img-top" src= {{url}} alt="recipe image" style="width:auto;height:auto;">
  <div class="card-body">
    <h5 class="card-title text-center">{{recipe_name}}</h5>
    <p class="card-text text-center">{{description}}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item text-center">{{ingredients}}</li>
    <li class="list-group-item text-center">{{directions}}</li>
    <li class="list-group-item text-center">Created by {{user.user_name}}</li>
  </ul>
</div>
