<div class="container-fluid mt-5">
<div class="recipe-card card mx-auto">
  <img class="card-img-top" src= {{url}} alt="recipe image">
  <div class="card-body">
    <div style = "font-family: Georgia, 'Times New Roman', Times, serif;" class = "position-absolute top-0 start-0 border border-light rounded">
      {{#if logged_in}}
      <button data-recipe-id = "{{id}}" id = "like-button" onclick = "onLikeRecipe(event)" class="btn btn-info btn-sm">{{like_action}}</button>
      <span id = "num-likes">{{total_likes}}</span>
      {{else}}
      <span id = "num-likes">{{total_likes}} Likes</span>
      {{/if}}
    </div>
    </br>
    <h1 style = "font-family: Georgia, 'Times New Roman', Times, serif;" class="card-title text-center mt-3">{{recipe_name}}</h1>
    <p style = "font-family: Georgia, 'Times New Roman', Times, serif;" class="card-text text-center">{{description}}</p>
    
  </div>
  <ul class="list-group list-group-flush">
    <li style = "font-family: Georgia, 'Times New Roman', Times, serif;" class="list-group-item text-center">{{ingredients}}</li>
    <li style = "font-family: Georgia, 'Times New Roman', Times, serif;" class="list-group-item text-center">{{directions}}</li>
    <li style = "font-family: Georgia, 'Times New Roman', Times, serif;" class="list-group-item text-center">Uploaded by {{user.user_name}}</li>
  </ul>
</div>
</div>
