<div class="text-center">
        <img src= {{url}} alt="recipe image" style="width:auto;height:150px;">
  <h2>{{recipe_name}}</h2>
  <p>{{description}}</p>
<p>{{ingredients}}</p>
<p>{{directions}}</p>

  <p>Uploaded by {{user.user_name}}</p>
</div>
