<div class="card mx-auto"style="width: 40rem;">
  <img class="card-img-top" src= {{url}} alt="recipe image" style="width:auto;height:auto;">
  <div class="card-body">
    <h1 style = "font-family: Georgia, 'Times New Roman', Times, serif;" class="card-title text-center">{{recipe_name}}</h1>
    <p style = "font-family: Georgia, 'Times New Roman', Times, serif;" class="card-text text-center">{{description}}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li style = "font-family: Georgia, 'Times New Roman', Times, serif;" class="list-group-item text-center">{{ingredients}}</li>
    <li style = "font-family: Georgia, 'Times New Roman', Times, serif;" class="list-group-item text-center">{{directions}}</li>
    <li style = "font-family: Georgia, 'Times New Roman', Times, serif;" class="list-group-item text-center">Uploaded by {{user.user_name}}</li>
  </ul>
</div>
