{{!-- <div class="text-center">
        <img src= {{url}} alt="recipe image" style="width:auto;height:300px;">
  <h2>{{recipe_name}}</h2>
  <p>{{description}}</p>
<p>{{ingredients}}</p>
<p>{{directions}}</p>

  <p>Uploaded by {{user.user_name}}</p>
</div>
  <p>Created by {{user.user_name}}</p>
</div> --}}


<div class="card mx-auto"style="width: 40rem;">
  <img class="card-img-top" src= {{url}} alt="recipe image" style="width:auto;height:auto;">
  <div class="card-body">
    <div style = "font-family: Georgia, 'Times New Roman', Times, serif; width: 15%" class = "position-absolute top-0 start-0 border border-light rounded">
      {{#if logged_in}}
      <button data-recipe-id = "{{id}}" id = "like-button" onclick = "onLikeRecipe(event)" class="btn btn-info btn-sm">{{like_action}}</button>
      <span id = "num-likes">{{total_likes}}</span>
      {{else}}
      <span id = "num-likes">{{total_likes}} Likes</span>
      {{/if}}
    </div>
    <h5 style = "font-family: Georgia, 'Times New Roman', Times, serif;" class="card-title text-center">{{recipe_name}}</h5>
    <p style = "font-family: Georgia, 'Times New Roman', Times, serif;" class="card-text text-center">{{description}}</p>
    
  </div>
  <ul class="list-group list-group-flush">
    <li style = "font-family: Georgia, 'Times New Roman', Times, serif;" class="list-group-item text-center">{{ingredients}}</li>
    <li style = "font-family: Georgia, 'Times New Roman', Times, serif;" class="list-group-item text-center">{{directions}}</li>
    <li style = "font-family: Georgia, 'Times New Roman', Times, serif;" class="list-group-item text-center">Created by {{user.user_name}}</li>
  </ul>
</div>
